{% extends "global/Page.html" %}
{% block content %}
<h2>First Chapter</h2>


 <p> In this first chapter, for each set of eyes, choose which word best describes what the person in the picture is thinking or feeling. </p>

 <p> You may feel that more than one word is applicable but please choose just one word, the word which you consider to be most suitable. </p>

<p> Before making your choice, make sure that you have read all 4 words. </p>

<p> You will earn an <strong> additional 10 cents for each correct answer (up to 3.60$). </strong> </p>

{{ next_button }}
{% endblock %}
