{% extends "global/Page.html" %}
{% block content %}
    <h2>Second Chapter</h2>

    {% if player.id_in_group == 1 %}
        <p>
            For this part of the experiment, you will be paired with another participant and will form a team until the end of the experiment.
            You will have to perform a task for your team: write a story, and the other participant will give you advice to improve it.
        </p>
    {% elif player.id_in_group == 2 %}
        <p>
            For this part of the experiment, you will be paired with another participant and will form a team until the end of the experiment.
            The other participant will perform a task for your team: write a story, and your role is to give them feedback to improve it.
        </p>
    {% endif %}

    <button class="btn btn-primary" id="next-button">Next</button>
{% endblock %}
