{% extends "global/Page.html" %}
{% block content %}

<h3>Your participation has been saved! </h3>

<p> As soon as all the participants are done, we will pay you cash: <strong><span style="color:red">{{ final_payoff_display }}</span></strong> </p>

<p>
   Note: Your participant ID is {{ participant_code }}
</p>

<p><strong>PLEASE DO REPORT THIS NUMBER ON THE PAYMENT SHEET. We will check, so please make sure to report the correct number and fill out your personal information</strong></p>
<p>Once you are done, fill out the area below if interested. Then, <strong>raise your hand and wait for instructions</strong></p>

<p>If you want to be contacted for the $50 best story award, please provide your email address below. This information will not be used for any other purpose.</p>
<form method="post">
    {{ formfield 'email_address' }}
</form>

<button type="submit">Submit</button>

{% endblock %}
